.header {
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    text-align: center;
    min-height: 100px;
    background-color: var(--grey-300);

}


.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-inline-start: 3px solid var(--brown-300);
    text-align: center;
    background-color: var(--brown-50);
    overflow: hidden;
    display: flex;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.header .navbar-nav .nav-link {
    color: var(--black-600);
    font-weight: 600;
    transition: color 0.3s ease;
    font-size: 18px;

}

.header .navbar-nav .nav-link:first-letter {
    text-transform: capitalize;
}

.header .navbar-nav .nav-link:hover {
    color: var(--orange-500);
}

@media (max-width: 991px) {
    .header {
        min-height: 80px;
    }

    .logo {
        width: 45px;
        height: 45px;
    }

    .mobile_menu {
        position: fixed;
        top: 3.8rem;
        right: 0;
        width: 20rem;
        min-height: 350px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        background:var(--grey-300);
        padding: 10px 20px 20px;
        z-index: 1050;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        box-shadow: var(--shadow-01);
    }

    .mobile_menu > li:hover {
        background-color: var(--orange-500);
    }

    .mobile_menu.show {
        transform: translateX(0);
    }
}

.mobile_menu.show {
    transform: translateX(0);
}

