
.hero {
    position: relative;
    min-height:100vh;
    padding-top: var(--header-height);
    background-image: url('../images/bg_head.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    color: white;
    display: flex;
    align-items: center;

}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero {
    position: relative;
}

.title_hero {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.title_hero span {
    display: block;
    line-height: 1;
}

/* ПЕТЕРБУРГ */
.title_hero_main {
    font-family: 'BERNIERDISTRESSED', sans-serif;
    font-size: clamp(2.5rem, 8vw, 5rem);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--terracotta);
}

/* сквозь года */
.title_hero_middle {
    font-family: 'BERNIERDISTRESSED', cursive;
    font-size: clamp(2rem, 6vw, 4rem);
    color: var(--terracotta);
    font-weight: 600;
}

/* с Владимиром Заруцким */
.title_hero_sub {
    font-family: 'PT Sans', sans-serif;
    font-size: clamp(1.2rem, 4vw, 2rem);
    text-transform: uppercase;
    font-weight: 700;
    color: #2F5D8A;
}

.hero-text {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 1.2rem;

}



/*list*/
.hero__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 70%;
}

.hero_li {
    position: relative;
    padding-left: 20px;
    color: var(--black-400);
    font-weight: 600;
}

.hero_li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    background-color: var(--terracotta);
    border-radius: 50%;
}

.hero_li span {
    color: var(--title);
    font-weight: 600;

}

.hero__btn-btn {
    cursor: pointer;
    width: 100%;
    max-width: 327px;
    border-radius: 8px;
    min-height: 52px;
    color: var(--white);
    background: linear-gradient(
            90deg,
            #F8893A 0%,
            #D68C67 50%,
            #DA785B 100%
    );

}

.hero__btn-btn > a {
    color: white;
    text-transform: uppercase;
    line-height: 56px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

/*right*/
.hero-right-img {
    max-width: 100%;
    height: auto;

}

@media (max-width: 768px) {
    .hero {
        min-height: calc(100vh - 200px);
    }
}

