
.tariffs-section {
    background: url('../images/bg tarif.jpg') center top / cover no-repeat;
    position: relative;
    min-height: 100vh;
    background-position: center;
    object-fit: cover;
}

/* Заголовок */
.tariffs-title {
    text-align: center;
    font-family: 'BERNIERDISTRESSED', cursive;
    font-size: clamp(2rem, 6vw, 4rem);
    color: var(--terracotta);
    margin-bottom: 60px;
}


/* Сетка карточек */
.tariffs-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.tariff__title-header {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--header-card);
    color: white;
    justify-content: center;
}

.tariff-title {
    font-family: 'BERNIERDISTRESSED', cursive;
    font-weight: 600;
    font-size: clamp(1.2rem, 4vw, 2rem);
    text-transform: uppercase;
}


/* Карточка */
.tariff-card {
    flex: 1;
    transition: transform 0.3s ease;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    max-width: 320px;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}

.tariff-card:not(.second_card) {
    height: fit-content;
}

.tariff__card-inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.tariff-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

/* Список */

.tariff-list li {
    font-size: 16px;
    padding: 4px 0 4px 20px;
    text-align: left;
    position: relative;

}

.tariff-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: var(--terracotta);
    border-radius: 50%;
}

/* Цены */
.tariff-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.2rem;
}

.old-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: #999;
}

.new-price {
    font-weight: 700;
    color: var(--header-card);
}

/* Кнопки валют */
.tariff-currency {
    display: flex;
    gap: 3px;
    justify-content: center;
}

.tariff__currency-btn {
    cursor: pointer;
    width: 33px;
    height: 35px;
    color: white;
    background-color: var(--terracotta);
    font-size: 20px;
    border-radius: 3px;
}

.tariff__currency-btn.active {
    background-color: var(--orange-border);
}

.tariff__underlined {
    text-decoration: line-through;
    color: var(--header-card);
    font-size: 18px;
}

.coin-img {
    width: 20px;
    height: 20px;
}

/* Кнопка участия */
.tariff-btn {
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 8px;
    min-height: 52px;
    color: var(--white);
    background: linear-gradient(
            90deg,
            #F8893A 0%,
            #D68C67 50%,
            #DA785B 100%
    );
}

.tariff-btn:hover {
    background-color: var(--orange-500);
}

@media (max-width: 945px) {
    .tariffs-cards {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }

    .tariff-card:nth-child(1) {
        order: 1;
    }

    .tariff-card:nth-child(3) {
        order: 2;
    }

    .tariff-card:nth-child(2) {
        order: 3;
        grid-column: 1 / -1;
        justify-self: center;
    }
}


@media (max-width: 745px) {
    .tariffs-cards {
        grid-template-columns: 1fr;
    }

}